---
import Layout from "../layouts/default.astro";
let { objects: pages } = await Astro.locals.runtime.env.R2_BUCKET.list({
  prefix: "0",
  // @ts-expect-error This is actually supported but the types are wrong
  include: ["customMetadata"],
});
---

<Layout title="All Pages">
  <p>
    Here you can find all the pages on my site, event the stuff in progress. If
    the url is an ULID then the page is still a draft. Though, that doesn't mean
    the things with regular URLs are finished!
  </p>

  <table class="table-auto">
    <thead>
      <tr>
        <th>Slug</th>
        <th>Stage</th>
        <th>Published</th>
        <th>Updated</th>
      </tr>
    </thead>
    <tbody>
      {
        pages.map(({ key, customMetadata: m }) => (
          <tr>
            <td>
              <a href={`/${key}`}>{m?.title ?? m?.slug ?? key}</a>
            </td>
            <td>{m?.stage ?? "draft"}</td>
            <td>{m?.published ?? "-"}</td>
            <td>{m?.updated ?? "-"}</td>
          </tr>
        ))
      }
    </tbody>
  </table>
</Layout>

<style>
  th,
  td {
    @apply px-3;
  }
</style>
