---
import "../style.css";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
  id: string;
}

const { id, title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- <meta name="description" content="Astro description" /> -->
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link rel="canonical" href=`${Astro.site}${id}` />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="m-auto">
    <slot />
  </body>
</html>
<style is:global>
  html,
  body {
    width: 100%;
    height: 100%;
    background: white;
  }
</style>
