---
import BaseLayout from "./base.astro";
import Header from "@components/Header.astro";

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <main class="lg-:container mx-auto px-6 py-2 max-w-screen-lg">
    <Header />
    <article class="prose lg:prose-xl mb-16">
      <slot />
    </article>
  </main>
</BaseLayout>
